.el {
  padding: 20px;
  /* position: relative; */

  .bubbleWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5.4px;
  }

  .bubble {
    display: flex;
    flex-direction: row;
    background: #f0f0f0;
    padding: 10px 17px;
    border-radius: 12px;
    border-bottom-left-radius: 0px ;
    flex-wrap: wrap;
    width: fit-content;
    font-family: sans-serif;
    color: black;
  }

  .imageWrapper {
    width: fit-content;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    /* overflow: hidden; */
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      border-bottom-left-radius: 0px;
    }
  }

  :global(.Overlay--after-open) {
      border: 10px solid red;
  }
}