.el {
  height: 100vh;
  .bubbleWrapper {
    height: 100%;
    background-color: lightgrey;
    padding: 20px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 5.4px;
  }

  .bubble {
    display: flex;
    flex-direction: row;
    background: #f0f0f0;
    padding: 10px 17px;
    border-radius: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    font-family: sans-serif;
  }

}